@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
}
